<!doctype html>
<html>
  <head>
    <%- include partials/meta.ejs %>
    <script type="text/javascript" src="javascripts/find.js"></script>
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <script type="text/javascript" src="/javascripts/navbar.js"></script>
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
    <link rel="stylesheet" href="stylesheets/find.css">
    <link rel='stylesheet' href='/stylesheets/navbar.css'/>
  </head>

  <body>
    <%- include partials/navbar.ejs %>
  <div class="autoplay">
    <a href="/rooms/horror"><div class="placeholder_image img1"></div><div class="titles">Horror</div></a>
    <a href="/rooms/comedy"><div class="placeholder_image img2"></div><div class="titles">Comedy</div></a>
    <a href="/rooms/scifi"><div class="placeholder_image img3"></div><div class="titles">Sci-Fi</div></a>
    <a href="/rooms/mystery"><div class="placeholder_image img4"></div><div class="titles">Mystery</div></a>
  </div>

    <!--Room Buttons-->
    <div class="room_buttons">
      <a href='/rooms/main'>
        <button class="action-button btn btn-primary raised" id="button_one" type="button">Main Room</button>
      </a>
      <a href='/rooms/demo'>
        <button class="action-button btn btn-primary raised" id="button_one" type="button">Demo Room</button>
      </a>
    </div>
    <!--Active Friends Row-->

    <div class='users-container'>
      <h3 class='browse-item browse-users'>Browse users</h3>
      <div class="row friends">
        <div class="col-lg-3 one"></div>

        <div class="col-lg-3 two"></div>

        <div class="col-lg-3 three"></div>

        <div class="col-lg-3 four"></div>
      </div>
    </div>

    <div class ='stories-container'>
      <h3 class='browse-item'>Published stories</h3>
      <div class='stories-panel panel panel-default'>
        <ul class='list-group'>
          <% for (var idx = 0; idx < stories.length; idx++) { %>
          <a href='/stories/<%= stories[idx].id %>'>
            <li class='empty story-item list-group-item'>
              <%= stories[idx].firstChars %>
              <span class='badge'><%= stories[idx].originRoom %></span>
            </li>
          </a>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
