<!DOCTYPE html>
<html>

  <head>
    <%- include partials/meta.ejs %>
    <script src='/javascripts/textarea_autosize.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/javascripts/room.js'></script>
    <script src='/javascripts/navbar.js'></script>
    <script src='/javascripts/date.js'></script>
    <link rel='stylesheet' href='/stylesheets/room.css'/>
    <link rel='stylesheet' href='/stylesheets/navbar.css'/>

  </head>

  <body>
    <%- include partials/navbar.ejs %>
    <div class='meta-background'></div>
    <div class='room-container'>
      <div class='story-container'>
        <div class='main-story'>
          <div class='new-story-prompt meta-prompt'>
            <div class='meta-prompt-no-contributions'>No contributions right now :(</div>
            <% if (user) { %>
            <a class='join-room meta-prompt-join invisible-as-writer'>Join this story to start creating.</a>
            <% } else { %>
            <a class='signin signup-prompt join-room meta-prompt-signup'>Sign up/in to start creating.</a>
            <% } %>
          </div>
          <div class='contribution empty'>
            <div class='contribution-username'></div>
            <div class='contribution-text'></div>
          </div>
          <% for (var idx = 0; idx < contributions.length; idx++) { %>
          <div class='contribution'>
            <div class='contribution-username'><%= contributions[idx].username %></div>
            <div class='contribution-text'><%= contributions[idx].text %></div>
          </div>
          <% } %>
        </div>
        <div class='visible-on-turn user-additions'>
          <div class='additions-meta'>
            <div class='additions-meta-timer'></div>
            <!--<button class='additions-meta-skip btn btn-primary raised' type='button'>Skip</button>-->
            <button class='additions-meta-submit btn btn-primary raised' type='button'>Submit</button>
          </div>
          <div class='additions-main'>
            <textarea class='user-addition-input' placeholder='Add your contribution here...'></textarea>
          </div>
        </div>
      </div>

      <div class='meta-container'>
        <h2 class='room-name meta-prompt'><%= roomName %></h2>
        <% if (! user) { %>
        <!--<div class='signup-prompt meta-prompt'>Sign up/in to get started!</div>-->
        <a class='signin'>
          <button class='meta-item signup-prompt meta-prompt btn btn-primary btn-lg raised'>Sign up/in to get started!</button>
        </a>
        <% } %>
        <button class='join-room meta-item invisible-as-writer btn btn-primary btn-lg raised' type='button'>Join story</button>
        <button class='leave-room meta-item visible-as-writer btn btn-primary btn-lg raised' type='button'>Leave story</button>
        <!--<a href='/stories/<%= recentStory %>' class='recent-story'>-->
          <!--<button class='meta-item btn btn-primary btn-lg raised' type='button'>Previous story</button>-->
        <!--</a>-->

        <% if (user) { %>
        <div class='turn-prompt meta-prompt visible-on-turn'>It's your turn!</div>
        <div class='turn-prompt meta-prompt visible-as-writer-not-on-turn'>It's not your turn yet</div>
        <% } %>
        <div class='remaining-turns meta-prompt'>
          <span class='remaining-turns-text'>Remaining turns:</span>
          <span class='remaining-turns-number'></span>
        </div>
        <div class='writers-panel panel panel-default'>
          <div class='panel-heading'>
            <h3 class='panel-title'>Writers</h3>
          </div>
          <ul class='list-group'>
            <li class='empty writers-item list-group-item'>
              <span class='writer'></span>
              <span class='badge'></span>
            </li>
          </ul>
        </div>
        <!--<div class='waiters-panel panel panel-default'>-->
          <!--<div class='panel-heading'>-->
            <!--<h3 class='panel-title'>Waiters</h3>-->
          <!--</div>-->
          <!--<ul class='list-group'>-->
            <!--<li class='empty waiters-item list-group-item'></li>-->
          <!--</ul>-->
        <!--</div>-->

        <% if (stories.length > 0) { %>
        <div class='stories-panel panel panel-default'>
          <div class='panel-heading'>
            <h3 class='panel-title'>Published from <%= roomName %></h3>
          </div>
          <ul class='list-group'>
            <% for (var idx = 0; idx < stories.length; idx++) { %>
            <a href='/stories/<%= stories[idx].id %>'>
              <li class='story-item list-group-item'>
                <%= stories[idx].firstChars %>
              </li>
            </a>
            <% } %>
          </ul>
        </div>
        <% } %>

      </div>
    </div>
  </body>

</html>
