<!DOCTYPE html>
<html>
  <head>
    <%- include partials/meta.ejs %>
    <link rel='stylesheet' href='/stylesheets/navbar.css'/>
    <link rel='stylesheet' type='text/css' href='/stylesheets/userPage.css' />
    <script src="javascripts/navbar.js"></script>
     <script src='/javascripts/userPage.js'></script>
  </head>

  <body>  
  <%- include partials/navbar.ejs %>

    <div class-'col-lg-3'>
      <div class='leftside'>
        <div class='upload_pic'>
        <div class="container">
          <img class="img_container" src="<%= newImage %>">
            <br><br>
            <% if (belongs_to_user) { %>
            <form id = "uploadForm" enctype = "multipart/form-data" action = "/user/<%= id %>"method = "POST">
            <span class="file-input btn btn-primary btn-file upload-btn">Choose photo<input type="file" name="image"/></span>
            <input class="btn btn-primary btn-lg upload-btn upload-btn upload" type="submit" value="Upload" name="submit">
            <% } %>
          </form>
        </div>
      </div>

        <div class='accInfo'>
          <h1>Account Information</h1>
            <ul>
              <li>Joined: <%= user_since %></li>
              <li>Published Articles: 2</li>
              <li>Followers: 3</li>
              <li>Follows:<%= follow.length %></li>
              <li>Hearts: 3</li>
            </ul>
            <% if (!belongs_to_user) { %>
            <button class="follow_btn btn btn-primary raised follow-toggle">Follow</button>
            <% } %>
        </div>
      </div>
    </div>

      <div class="col-lg-9">
          <div class="tabs">
          <ul class="tab-links">
                  <li class="active"><a href="#tab1">Published</a></li>
                  <li><a href="#tab2">Hearts</a></li>
                  <li><a href="#tab3">Recent</a></li>
                  <li><a href="#tab4">Following</a></li>
              </ul>
           
              <div class="tab-content">
                  <div id="tab1" class="tab active">
                      <p>Tab #1 content goes here!</p>
                      <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis.</p>
                  </div>
           
                  <div id="tab2" class="tab">
                      <p>Tab #2 content goes here!</p>
                      <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! </p>
                  </div>
           
                  <div id="tab3" class="tab">
                      <p>Tab #3 content goes here!</p>
                      <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum ri.</p>
                  </div>
           
                  <div id="tab4" class="tab">
                      <% for (var idx = 0; idx < follow.length; idx++) { %>
                      <ul class="user-list">
                      <a class="user" href="/user/<%= follow[idx][1]%>"><li><%= follow[idx][0] %></li></a>
                      </ul>
                      <% } %>
                 </div>
              

            </div>
          </div>
        </div>
      </div>
  </body>
</html>
