<!DOCTYPE html>
<html>
  <head>
    <%- include partials/meta.ejs %>
    <%- include ../public/javascripts/capitalize.js %>
    <script src='/socket.io/socket.io.js'></script>
    <link rel='stylesheet' href='/stylesheets/navbar.css'/>
    <link rel='stylesheet' type='text/css' href='/stylesheets/userPage.css' />
      <script src="javascripts/navbar.js"></script>
     <script src='/javascripts/userPage.js'></script>
  </head>

  <body>
  <%- include partials/navbar.ejs %>
    <div class="row-fluid">
      <div class="col-md-3">
      <div class='panel space-4'>
      <img class="img_container"></img>
        <div class='panel-body first_body'>
            <ul class="list-unstyled text-center">
              <li class="username"><%= page_username %></li>
<!--               <% if (belongs_to_user) { %>
              <li><a class="btn btn-primary btn-block text-wrap space-top-1 yarn_btn">Choose Your Yarn</a></li>
              <% } %> -->
            </ul>
        </div>
      </div>

        <div class='accInfo panel row-space-4'>
          <div class="panel-header">
          <h1>Account Info</h1>
          </div>
          <div class="panel-body">
            <ul>
              <li>Joined: <%= user_since %></li>
              <li>Published Articles: 2</li>
              <li class="followers">Followers: <%= follower.length %></li>
              <li class="follow">Follows:<%= follow.length %></li>
            </ul>
            <% if (!(belongs_to_user) && user) { %>
            <button class="follow_btn btn btn-primary btn-lg raised follow-toggle">Follow</button>
            <% } %>
          </div>
        </div>
      </div>

      <div class="col-md-9">
          <div class="tabs clearfix">
          <div class="container-fluid">
              <ul class="tab-links">
                  <li class="active"><a href="#tab1">Stories</a></li>
                  <!--<li><a href="#tab3">Recent</a></li>-->
                  <li><a href="#tab4">Following</a></li>
                  <li><a href="#tab5">Followers</a></li>
              </ul>

              <div class="tab-content">
                <div id="tab1" class="tab active">
                  <% if (published.length > 0) { %>
                  <div class='published-panel panel panel-default'>
                    <ul class='list-group'>
                      <% for (var idx = 0; idx < published.length; idx++) { %>
                      <a href='/stories/<%= published[idx].id %>'>
                        <li class='empty story-item list-group-item'>
                          <%= published[idx].firstChars %>
                          <span class='badge'><%= published[idx].originRoom %></span>
                        </li>
                      </a>
                      <% } %>
                    </ul>
                  </div>
                  <% } else { %>
                  <p class="friends">No stories yet!</p>
                  <% } %>
                </div>

                  <div id="tab4" class="tab">
                  <% if (follow.length==0) { %>
                    <p class="friends">No followees yet!</p>
                    <% } %>
                      <% for (var idx = 0; idx < follow.length; idx++) { %>
                      <ul class="user-list">
                      <% if (typeof follow[idx][0] !== 'undefined') {%>
                      <a class="user" href="/user/<%= follow[idx][1]%>"><li><%= follow[idx][0] %></li></a>
                      <% } %>
                      </ul>
                      <% } %>
                 </div>

                 <div id="tab5" class="tab">
                    <% if (follower.length==0) { %>
                    <p class="friends">No followers yet!</p>
                    <% } %>
                      <% for (var idx = 0; idx < follower.length; idx++) { %>
                      <ul class="user-list">
                      <% if (typeof follower[idx][0] !== 'undefined') {%>
                      <a class="user" href="/user/<%= follower[idx][1]%>"><li><%= follower[idx][0] %></li></a>
                      <% } %>
                      </ul>
                      <% } %>
                </div>
              </div>
            </div>
        </div>
      </div>
      </div>

<!--
      <div id="myModal" class="user_modal">


        <div class="modal-content">
          <div class="col-md-4 first"><img src="../public/siteArt/userYarn1.svg"/></div>
          <div class="col-md-4 second"><img src="../public/siteArt/userYarn2.svg"/></div>
          <div class="col-md-4 third"><img src="../public/siteArt/userYarn3.svg"/></div>
          <div class="col-md-4 four"><img src="../public/siteArt/userYarn4.svg"/></div>
          <div class="col-md-4 five"><img src="../public/siteArt/userYarn5.svg"/></div>
          <div class="col-md-4 six"><img src="../public/siteArt/userYarn6.svg"/></div>
          <span class="close">x</span>
        </div>

      </div> -->

  </body>
</html>
